<h1><bold>CSE 574: Homework Assignment 1</bold></h1>
<h3>Name: Harshdeep Sokhey, UB# 50247213</h3>
<h4>Introduction</h4>
<p> The dataset contains 4 features, namely,
   <ol>
       <li> CS Score </li>
       <li> Research Overhead</li>
       <li> Admin Base Pay</li>
       <li> Tuition</li>
   </ol>
   
</p>

In [31]:
## Problem #1 ## 
# Step 1 : Reading Data from the data set
# Step 2 : Cleaning Data from the data set 
# Step 3 : Mean Calculation, Plotting Mean
# Step 4 : Variance Calculation, Plotting Variance
# Step 5 : Standard Deviation Calculation, Plotting SD

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

<h4> 1 Solution 1 </h4>
<p>
Given a set of $N$ samples $x_i$, $i=1,...,N$,
<h5> 1.1 Sample Mean</h5>
\begin{align}
\mu = \frac{1}{N} \sum_{i=1}^{N} x(i)
\end{align}

<h5> 1.2 Variance</h5>
\begin{align}
\sigma^{2} = \frac{1}{N-1} \sum_{i=1}^{N} [x(i) - \mu]^{2}
\end{align}

<h5> 1.3 Standard Deviation </h5>
\begin{align}
\sigma = \sqrt{\frac{1}{N-1} \sum_{i=1}^{N} [x(i) - \mu]^{2}}
\end{align}

In [32]:
## Helper Functions ##

'''
    Sample Mean(<dataset>,<#samples>)
    Calculates the sample mean for the dataset
'''
def Mu(x,N):
    return (1.0/N) * np.sum(x)

'''
    Variance(<dataset>,<#samples>, <sample_mean>)
    Calculates the variance for the dataset
'''
def Variance(x, N, mu):
    return (1.0/(N-1)* np.sum(np.power((x-mu),2)))

'''
    Sigma(<variance>)
    Calculates the Standard Deviation for the dataset
'''
def Sigma(var):
    return np.power(var, 0.5)

def Covariance(shift1, shift2, N=49):
    return (1.0/N-1)*np.sum((shift1*shift2)) 

def CovarCoeff(Cov12, sigma1, sigma2):
    pass

<h5>Reading the input from the xls file</h5>

In [33]:
univData = pd.read_excel("./DataSet/universityData.xlsx")

<h4>Un-cleaned Data</h4>

In [34]:
univData.head()

,rank,name,CS Score (USNews),Research Overhead %,Admin Base Pay$,Tuition(out-state)$,Grad Student No.,TT Faculty,Lecturers,G-TT Ratio,G-TTL Ratio
0,1.0,University of California—​Berkeley,5.0,57.0,400400.0,25064.0,n,NaN,NaN,NaN,NaN
1,5.0,University of Illinois—​Urbana-​Champaign,4.6,58.6,512500.0,30228.0,n,59.0,NaN,NaN,NaN
2,6.0,University of Washington,4.5,54.5,550000.0,33513.0,214,59.0,NaN,NaN,NaN
3,9.0,Georgia Institute of Technology,4.3,55.9,440000.0,30698.0,n,37.0,NaN,NaN,NaN
4,9.0,University of Texas—​Austin,4.3,55.0,628190.0,34722.0,176,42.0,NaN,NaN,NaN

In [35]:
data = univData.ix[:,:6] # new Dataframe

<h4>Cleaned Data</h4>

In [36]:
data.head()

,rank,name,CS Score (USNews),Research Overhead %,Admin Base Pay$,Tuition(out-state)$
0,1.0,University of California—​Berkeley,5.0,57.0,400400.0,25064.0
1,5.0,University of Illinois—​Urbana-​Champaign,4.6,58.6,512500.0,30228.0
2,6.0,University of Washington,4.5,54.5,550000.0,33513.0
3,9.0,Georgia Institute of Technology,4.3,55.9,440000.0,30698.0
4,9.0,University of Texas—​Austin,4.3,55.0,628190.0,34722.0

In [37]:
csScore = data["CS Score (USNews)"]
resLoad = data["Research Overhead %"]
adBasePay = data["Admin Base Pay$"]
tuitionOoS = data["Tuition(out-state)$"]

In [38]:
# for sample CS Score 
mu1 = Mu(csScore, 49)
var1 = Variance(csScore,49, mu1)
sigma1 = Sigma(var1)

# for Research Overload
mu2 = Mu(resLoad, 49)
var2 = Variance(resLoad,49, mu2)
sigma2 = Sigma(var2)

#for Admin Base Pay
mu3 = Mu(adBasePay, 49)
var3 = Variance(adBasePay,49, mu3)
sigma3 = Sigma(var3)

#for Tuition Out-of-State
mu4 = Mu(tuitionOoS, 49)
var4 = Variance(tuitionOoS,49, mu4)
sigma4 = Sigma(var4)

<h4>Mean, Variance, Standard Deviation for CS Score </h4>

In [39]:
print(mu1)
print('Mean: {:.2f} ({:.2f})'.format(mu1, np.mean(csScore)))
print('Variance: {:.2f} ({:.2f})'.format(var1, np.var(csScore)))
print('Standard Deviation: {:.2f} ({:.2f})'.format(sigma1, np.std(csScore)))

3.21428571429
Mean: 3.21 (3.21)
Variance: 0.46 (0.45)
Standard Deviation: 0.68 (0.67)

<h4>Mean, Variance, Standard Deviation for Research Load </h4>

In [40]:
print('Mean: {:.2f} ({:.2f})'.format(mu2, np.mean(resLoad)))
print('Variance: {:.2f} ({:.2f})'.format(var2, np.var(resLoad)))
print('Standard Deviation: {:.2f} ({:.2f})'.format(sigma2, np.std(resLoad)))

Mean: 53.39 (53.39)
Variance: 12.85 (12.59)
Standard Deviation: 3.58 (3.55)

<h4>Mean, Variance, Standard Deviation for Admin Base Pay </h4>

In [41]:
print('Mean: {:.2f} ({:.2f})'.format(mu3, np.mean(adBasePay)))
print('Variance: {:.2f} ({:.2f})'.format(var3, np.var(adBasePay)))
print('Standard Deviation: {:.2f} ({:.2f})'.format(sigma3, np.std(adBasePay)))

Mean: 469178.82 (469178.82)
Variance: 14189720820.90 (13900134681.70)
Standard Deviation: 119120.61 (117898.83)

<h4>Mean, Variance, Standard Deviation for Tuition Out-of-State </h4>

In [42]:
print('Mean: {:.2f} ({:.2f})'.format(mu4, np.mean(tuitionOoS)))
print('Variance: {:.2f} ({:.2f})'.format(var4, np.var(tuitionOoS)))
print('Standard Deviation: {:.2f} ({:.2f})'.format(sigma4, np.std(tuitionOoS)))

Mean: 29711.96 (29711.96)
Variance: 31367695.79 (30727538.73)
Standard Deviation: 5600.69 (5543.24)

<h4> 2 Solution 2 </h4>
<h5> Covariance</h5>
<p> The sample covariance of a pair of variables $X_1$,$X_2$ with samples $x_1(i)$, $x_2(i)$, $i = 1,..,N$ ,where $N$ is the number of samples ,is 
\begin{align}
\sigma_{12} = \frac{1}{N-1} \sum_{n=1}^{N} [x_1(i) - \mu_1][x_2(i) - \mu_2]
\end{align}
</p>
<h5>Covariance Matrix</h5>
The covariance matrix is a set of 'd' variables $X = \{X_1, X_2, ..., X_d\}$
\begin{align}
\Sigma = 
\begin{bmatrix}
\sigma_1^{2}&\sigma_{12}&\sigma_{13}&\sigma_{14} \\
\sigma_{21}&\sigma_2^{2}&\sigma_{23}&\sigma_{24} \\
\sigma_{31}&\sigma_{32}&\sigma_3^{2}&\sigma_{34} \\
\sigma_{41}&\sigma_{42}&\sigma_{43}&\sigma_4^{2} \\
\end{bmatrix}
\end{align}

In [44]:
shift1 = (csScore - mu1)
shift2 = (resLoad - mu2)
shift3 = (adBasePay - mu3)
shift4 = (tuitionOoS - mu4)

sigma12 = Covariance(shift1, shift2)
sigma13 = Covariance(shift1, shift3)
sigma14 = Covariance(shift1, shift4)

sigma21 = Covariance(shift2, shift1)
sigma23 = Covariance(shift2, shift3)
sigma24 = Covariance(shift2, shift4)

sigma31 = Covariance(shift3, shift1)
sigma32 = Covariance(shift3, shift2)
sigma34 = Covariance(shift3, shift4)

sigma41 = Covariance(shift4, shift1)
sigma42 = Covariance(shift4, shift2)
sigma43 = Covariance(shift4, shift3)

#using formaula
covarianceMat = [[sigma1, sigma12, sigma13, sigma14],
                 [sigma21, sigma2, sigma23, sigma24],
                 [sigma31, sigma32, sigma3, sigma34],
                 [sigma41, sigma42, sigma43, sigma4]]

#using built-in function
X = np.array([csScore,resLoad,adBasePay,tuitionOoS])
covMat = np.cov(X,ddof=1)
#print(csScore.shape)
print(covMat)
print(covarianceMat)

[[ nan  nan  nan  nan]
 [ nan  nan  nan  nan]
 [ nan  nan  nan  nan]
 [ nan  nan  nan  nan]]
[[0.67638746292343399, -51.986938775510197, -182428.92594752173, -49770.150437317767], [-51.986938775510197, 3.5847477828526046, -3304564.9679300287, -131929.34344023326], [-182428.92594752173, -3304564.9679300287, 119120.61459253416, 7696565662.4006672], [-49770.150437317767, -131929.34344023326, 7696565662.4006672, 5600.6870819539618]]

<h5>Correlation Coefficient</h5>
<p> The correlation coefficient is the normalized covariance given by
\begin{align}
\rho_{X,Y} = \frac{Cov(X,Y)}{\sigma_X \sigma_Y}
\end{align}
</p>

In [45]:
rho12 = sigma12/(sigma1* sigma2)
rho13 = sigma13/(sigma1* sigma3)
rho14 = sigma14/(sigma1* sigma4)

rho23 = sigma23/(sigma2* sigma3)
rho24 = sigma24/(sigma2* sigma4)

rho34 = sigma34/(sigma3* sigma4)


correlationMat = [[1, rho12, rho13, rho14],
                  [1, 1, rho23, rho24],
                  [1, 1, 1,rho34]]

In [46]:
print(correlationMat)

[[1, -21.440755825833428, -2.2641814426343077, -13.138085853937291], [1, 1, -7.7387134220057971, -6.5711516134552603], [1, 1, 1, 11.536358529567769]]

In [51]:
scatter_matrix(correlationMat)
#fig = plt.figure()
#axis= fig.add_subplot(111)
#corrMat = axis.matshow()

NameError: name 'scatter_matrix' is not defined